.vscode
.idea/
.gradle/
packages/java/build/
.DS_Store
packages/js/lib/
packages/js/node_modules

packages/python/dist

packages/dotnet/Cisco.Opentelemetry.Specifications/obj
packages/dotnet/Cisco.Opentelemetry.Specifications/bin